<%- model_class = Event -%>
<div class="row">
  <div class="col-sm-6">
    <h1>События</h1>
    <%= link_to 'Добавить новое', new_event_path, :class => 'btn btn-primary' %>
  </div>
  <%
    @date = if params[:date].present?
      Date.parse(params[:date])
    else
      Date.today
    end
  %>
  <div class="col-sm-6">
    <h2 class="text-center"><%= Russian::strftime(@date, "%B %Y") %></h2>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="btn-group">
          <%= link_to 'Предыдущий', events_path(date: (@date - 1.month)), class: 'btn btn-primary'%>
          <%= link_to 'Текущий', events_path(date: Date.today), class: 'btn btn-default'%>
          <%= link_to 'Следующий', events_path(date: (@date + 1.month)), class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%=
  options = { extra_day_classes: lambda { |classes, date|
    classes << 'cal-day-daylight' if (5 == date.day)  
    classes << 'cal-day-night' if (10 == date.day)
    }
  }

  bootstrap_calendar @date, {} do |date|
    events = current_user.events.where(start_at: date.beginning_of_day..date.end_of_day).order(:start_at)
    date_content = ""
    if events.count > 0
      date_content += content_tag :small, class: 'cal-events-num badge badge-important pull-left' do
        events.count.to_s
      end.to_s
    end
    date_content += content_tag :span, class: "pull-right", "data-cal-date" => "some", "data-cal-view" => "day" do
      date.day.to_s
    end.to_s
    date_content += content_tag :div, class: "events-list" do
      events_list = ""
      events.each do |event|
        events_list += (content_tag :a, '', class: 'pull-left event event-warning', "data-toggle" => "tooltip", "data-placement" => "top", "title" => event.title, href: event_path(event)).to_s
      end
      events_list.html_safe
    end.to_s
    date_content.html_safe
  end
%>

